<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <div class="d-flex">
                    <nav>
                        <a href="{{ path('app_homepage') }}">Accueil</a>
                        <a href="{{ path('app_book_index') }}">Nos Livres</a>
                        <a href="{{ path('app_author_index') }}">Les auteurs</a>
                        <a href="{{ path('app_category_index') }}">Les catégories</a>
                    </nav>

                    {# User Nav #}
                    <nav class="ms-auto">
                        {% if app.user %}
                        <a href="{{ path('app_profile') }}">Mon profil</a>
                        <a href="{{ path('app_logout') }}">Deconnexion</a>
                        {% else %}
                        <a href="{{ path('app_register') }}">Inscription</a>
                        <a href="{{ path('app_login') }}">Connexion</a>
                        {% endif %}
                    </nav>
                </div>

            </div>
        </header>

        {# Flash Messages #}
        {% for key, messages in app.flashes() %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        <div class="container">
            <hr>
            <small class="text-muted">Test de traduction</small>
            
            <table class="table">
                <tbody>

                    <tr>
                        <th>{{ "message1" | trans() }}</th>
                        <td>Expression sans valeur de traduction associée</td>
                    </tr>

                    <tr>
                        <th>{{ "message2" | trans() }}</th>
                        <td>
                            Expression remplacée par une valeur définie dans les fichiers <code>messages.xx.yaml</code>. <br>
                            La traduction dépend de la langue du site.
                        </td>
                    </tr>

                    <tr>
                        <th>{{ "message3" | trans() }}</th>
                        <td>
                            Expression remplacée par une valeur définie uniquement dans le fichier <code>messages.en.yaml</code>. <br>
                            La traduction se base sur le paramètre <code>fallback</code> de la configuration.
                        </td>
                    </tr>

                    <tr>
                        <th>{{ "Welcome to my website." | trans() }}</th>
                        <td>
                            L'expression à traduire est une phrase.
                        </td>
                    </tr>

                    <tr>
                        <th>{{ "message4" | trans({}, 'homepage') }}</th>
                        <td>
                            Expression traduite dans le domaine <code>homepage</code> définie par les fichiers <code>homepage.xx.yaml</code>.
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr>
        </div>

        {% block body %}{% endblock %}


        <footer>


            {{ select_language() }}

            {# 
            - Fonction Twig qui affiche la liste des langue
                - index d'un fichier twig avec le template HTML de la liste
                - qui boucle sur la liste des langues

            - Fonction Twig qui génère le tableau des langues
                - a partir d'une variable de configuration
            #}

        </footer>
    </body>
</html>
